MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/lcapp?retryWrites=true&w=majority
PORT=3000
CORS_ORIGIN=https://eniliosarcos.github.io
ADMIN_USER=<usuario-admin>
ADMIN_PASSWORD_HASH=<hash-bcrypt-del-password>
JWT_SECRET=<secreto-largo-aleatorio>
JWT_EXPIRES_IN=12h
